<header class="header">

    <nav class="navbar container">

        <a href="index.html" class="logo" data-root-link>

            <span class="logo-mark">NA</span>

            <span class="logo-name">
                <span>NOUR</span>
                <small>A.F</small>
            </span>

        </a>

        <ul class="nav-links">

            <li><a href="index.html" data-root-link>Home</a></li>

            <li><a href="architecture/" data-root-link>Architecture</a></li>

            <li><a href="art/" data-root-link>Art</a></li>

            <li><a href="informatics/" data-root-link>Informatics</a></li>

            <li><a href="#journal">Journal</a></li>

            <li><a href="#about">About</a></li>

            <li><a href="#contact">Contact</a></li>

            <li class="mobile-social">

                <a href="#" class="social" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>

                <a href="https://www.instagram.com/nour.a.100?igsh=ZGw1NTVzMGNqcnU0" class="social" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://youtube.com/@nour.a.100?si=mecvjwQRv4FWaMgj" class="social" aria-label="YouTube">
                    <i class="fab fa-youtube"></i>
                </a>

            </li>

        </ul>

       

        <div class="nav-actions">

            <button class="language-btn">

                EN

            </button>

            <a href="#" class="social">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://www.instagram.com/nour.a.100?igsh=ZGw1NTVzMGNqcnU0" class="social">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="https://youtube.com/@nour.a.100?si=mecvjwQRv4FWaMgj" class="social">
                <i class="fab fa-youtube"></i>
            </a>

            <button class="menu-btn">

                <i class="fa-solid fa-bars"></i>

            </button>

        </div>

    </nav>

</header>